<?xml version="1.0"?>
<model>
  <name>Drone UTN</name>
  <version>1.0</version>
  <sdf version='1.4'>drone_utn.sdf</sdf>

  <author>
   <name>Lucas Liaño</name>
   <email>lliano@frba.utn.edu.ar</email>
  </author>
  
  <author>
   <name>Nicolas Taurozzi</name>
   <email>ntaurozzi@frba.utn.edu.ar</email>
  </author>

  <description>
    Este es el modelo utilizado por el PID de Drones de la UTN-FRBA para describir el comportamiento del dron impreso en 3D. 
  </description>
</model>
